<!-- card-section -->
<div class="container">
  <section class="cardSection">
    <h4 class="main-heading">user overview</h4>
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4" *ngFor="let card of array">
        <div class="cardClass">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-5 offset-1 Cardname">
                  <p>{{ card.name }}</p>
                </div>
                <div class="col-4 offset-1parentDiv">
                  <div class="percentageBox">
                    <p>{{ card.percentages }}</p>
                  </div>
                </div>
              </div>

              <div class="progressBar">
                <span><i class="fa-solid fa-circle"></i></span>
                <span class="inProgress">In Progress</span>
              </div>

              <div class="progress pBar">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 34%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  34%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- loan-section -->
  <section class="loan-section">
    <h4 class="loan">loan</h4>
    <div class="loanContainer">
      <div class="row vectorImg">
        <div class="col-md-4 col-sm-12 laon-row">
          <div class="laonImg img-fluid">
            <div class="loanvector">
              <img src="assets\Vector (1).png" />
            </div>
            <figure class="loanImg2">
              <img src="assets\coin.png" />
              <figcaption class="figSection">
                <h4>SME Loans</h4>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 laon-row">
          <div class="laonImg img-fluid">
            <!-- <img src="" /> -->
            <figure class="loanImg2">
              <img src="assets\receipt-minus.png" />
              <figcaption class="figSection">
                <h4>Local Purchase Order</h4>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div>
            <img src="assets\Vector (2).png" class="vector-invoice" />
            <figure class="loanImg2">
              <img src="assets\archive-book.png" />
              <figcaption class="figSection">
                <img src="" />
                <h4>Invoice</h4>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 3rd-section -->
  <section class="third-Section">
    <div class="row">
      <div class="col-sm-3 colorCard">
        <img src="assets\Frame 1171275381.png" alt="card" title="card" />
      </div>
      <div class="col-sm-9">
        <div class="firstsec">
          <h3>Lorem Ipsum dolor</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
            consequatur, porro nihil, quaerat aut veritatis dignissimos harum
            reprehenderit, corrupti blanditiis quidem incidunt beatae minima
            dolores exercitationem minus repellat earum quasi?
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="firstsec">
          <h3>Lorem Ipsum dolor</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
            consequatur, porro nihil, quaerat aut veritatis dignissimos harum
            reprehenderit, corrupti blanditiis quidem incidunt beatae minima
            dolores exercitationem minus repellat earum quasi?
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="colorCard2">
          <img
            class=""
            src="assets\Frame 1171275381.png"
            alt="card"
            title="card"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <figure class="colorCard3">
          <img src="assets\Frame 1171275381.png" alt="card" title="card" />
          <figcaption>
            <h6>Lorem ipsum dolor</h6>
            <p>Lorem ipsum dolor sit amet consectetur</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-12">
        <figure class="colorCard3">
          <img src="assets\Frame 1171275381.png" alt="card" title="card" />

          <figcaption>
            <h6>Lorem ipsum dolor</h6>
            <p>Lorem ipsum dolor sit amet consectetur</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-12">
        <figure class="colorCard3">
          <img src="assets\Frame 1171275381.png" alt="card" title="card" />

          <figcaption>
            <h6>Lorem ipsum dolor</h6>
            <p>Lorem ipsum dolor sit amet consectetur</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-12">
        <figure class="colorCard3">
          <img src="assets\Frame 1171275381.png" alt="card" title="card" />

          <figcaption>
            <h6>Lorem ipsum dolor</h6>
            <p>Lorem ipsum dolor sit amet consectetur</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</div>
